{% block content %}
<form class="modal fade" id="Transfer" method="POST" action="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Transfer Funds</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            {{ form_transfer.hidden_tag() }}
            <div class="mb-3">
              {{ form_transfer.user(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form_transfer.transfer(class="form-control") }}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          {{ form_transfer.submit(class="btn btn-primary")}}
        </div>
      </div>
    </div>
  </form>

{% endblock %}