{% extends 'base.html' %}

{% block content %}
<form  class="border border-primary-subtle position-absolute top-50 start-50 translate-middle w-25 h-auto p-3 mb-2 bg-white text-dark shadow-lg rounded" style="min-width: 250px; min-height:200px" method="POST" action="" novalidate>
    <h3>Registration Form</h3>
    {{ form.hidden_tag() }}
  </br>
  <div class="mb-3">
  <label class="form-label">Username</label>
  {{ form.username(class="form-control") }}
</div>
    <div class="mb-3">
      <label  class="form-label">Password</label>
      {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
    <label class="form-label">Deposit</label>
    {{ form.deposit(class="form-control") }}
  </div>
  
  {% for message in form.errors %}
  {{ message }}:{{ form.errors[message] }}<br />
  {% endfor %}
  {{form.submit(class="btn btn-primary")}}
  </form>

{% endblock %}